form {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(28, 28, 28);
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.1);
}



.sectionU {
    margin-bottom: 20px;
}


.question {
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    margin-right: 10px;
}

input[type="radio"]:checked+label {
    font-weight: bold;
}

.answers {
    color: lightgreen;
}

p {
    margin-bottom: 10px;
}