.partnerSection {
    display: flex;
    flex-wrap: wrap;
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Utilisez flex pour que chaque partenaire prenne une largeur égale */
}

.partnerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logoPartner {
    margin-bottom: 20px;
}

.partnerName {
    font-weight: bold;
    margin-bottom: 10px;
}

.descPartner {
    margin: 30px;
}

#whiteBack {
    background-color: #fff;
}

.imgContent {
    width: 600px;
}

@media screen and (max-width: 768px) {
.partnerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgContent {
    margin-bottom: 15px; /* Ajoutez une marge entre l'image et le texte pour une meilleure lisibilité */
}

.descPartner {
    max-width: 100%; /* Fait en sorte que le texte occupe la largeur complète de l'écran */
}
}