/*GLOBAL CSS FOR EVERY WEBPAGE*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #232329;
    padding-top: 80px;
}

.allLinks:hover {
    color: lightgray;
}

.allLinks {
    text-decoration: none;
    color: lightgreen;
}

.sous{
    display: none;
}

.sous li {
    float: none;
    text-align: left;
}

.sous a{
    padding: 10px;
    color: white;
    border-bottom: none;
    background-color: darkgreen;
    width: 200px;
}

.sous a:hover{
    border-bottom: none;
    background-color: rgb(111, 186, 111);
}

li{
    list-style-type: none;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
}

.justifiedParagraph {
    text-align: justify;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 32px;
    margin: 20px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

article {
    margin: 40px 0px;
}

.bigLinks:hover {
    color: lightgray;
}

.bigLinks {
    text-decoration: none;
    color: lightgreen;
    font-size: 24px;
}
.bouton-result{
    display: flex;
    justify-content: center;
    align-items: center;

}

.scores {
    color: #006400; /* Couleur de texte vert foncé */
    font-size: 22px; /* Taille de police légèrement plus grande */
    font-weight: bold; /* Texte en gras */
    background-color: #E0EEE0; /* Arrière-plan vert très clair */
    padding: 10px; /* Espacement intérieur pour donner de l'espace au texte */
    border-radius: 30px; /* Coins arrondis pour un aspect plus doux */
    width: 30%; /* Largeur réduite à 80% de la largeur de la page */
    margin: 0 auto; /* Marges automatiques pour centrer l'élément */
}

.bouton-vert {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

.bouton-vert:hover {
    background-color: darkgreen;
}


@media screen and (min-width: 769px) {
    main {
        margin: 50px 60px;
    }
}



/*style écran plus petit*/
@media screen and (max-width: 768px) {

    h1{font-size: 32px;}

    h2{font-size: 16px;}

    p{font-size: 10px}

    main {
        margin: 20px;
    }

}

hr {
    margin-top: 30px;
}