/*GLOBAL CSS FOR EVERY WEBPAGE*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #232329;
    padding-top: 80px;
}

.allLinks:hover {
    color: lightgray;
}

.allLinks {
    text-decoration: none;
    color: lightgreen;
}

.sous{
    display: none;
}

.sous li {
    float: none;
    text-align: left;
}

.sous a{
    padding: 10px;
    color: white;
    border-bottom: none;
    background-color: darkgreen;
    width: 200px;
}

.sous a:hover{
    border-bottom: none;
    background-color: rgb(111, 186, 111);
}


main{
    max-width: 1200px;
    margin: 50px auto;
}

li{
    list-style-type: none;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 32px;
    margin: 20px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

article {
    margin: 40px 0px;
}

.bigLinks:hover {
    color: lightgray;
}

.bigLinks {
    text-decoration: none;
    color: lightgreen;
    font-size: 24px;
}



/*style écran plus petit*/
@media screen and (max-width: 768px) {

    h1{font-size: 32px;}

    h2{font-size: 16px;}

    p{font-size: 10px}

    img{width: 25%;
    height: auto;}

   

}

hr {
    margin: 40px 0px;
}