.reExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    flex: 1; 
}

.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.article p {
    margin-right:  30px;
    text-align: justify;
}

.article-image {
    margin-right: 30px;
}

:target::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

/*SMALL SCREENS*/
@media screen and (max-width: 768px) {
.reExp {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reExp h3 {
    font-size: 18px;
    margin-top: 0;
}

.reExp .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.reExp .article p {
    font-size: 14px;
    text-align: justify;
    margin-right: 0px
}

.reExp .article-image {
    width: 75%; 
    height: auto;
    margin-bottom: 10px;
    margin-right: 0px;
}


}